@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
	font-family: "Poppins";
	transition-duration: 500ms;
}

.btn {
	font-weight: normal !important;
	font-size: 14px !important;
	transition-duration: 500ms !important;
}

body,
html {
	padding: 0px;
	margin: 0px;
	transition-duration: unset;
}

p {
	margin: 0px;
	padding: 0px;
}

:root {
	--cyan: hsl(180, 66%, 49%);
	--dark_violet: hsl(257, 27%, 26%);
	--red: hsl(0, 87%, 67%);
	--gray: hsl(0, 0%, 75%);
	--grayish_violet: hsl(257, 7%, 63%);
	--very_dark_blue: hsl(255, 11%, 22%);
	--very_dark_violet: hsl(260, 8%, 14%);
}

button {
	cursor: pointer;
}
button:active {
	box-shadow: 0px 2px #999;
	opacity: 0.7;
	transform: scale(0.95);
}

.main_container {
	margin: 0px !important;
	padding: 0px !important;
}

.wrapper {
	max-width: 1024px !important;
	margin: 0px auto;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 30px 40px;
	max-width: 1366px !important;
	margin: 0px auto;
}

nav h3 {
	margin: 0px;
	padding: 0px;
}

nav h1 {
	color: var(--very_dark_violet);
	font-size: 30px;
	margin: 0px;
	padding: 0px;
}

nav ul {
	display: flex;
	margin: 0px 20px;
	padding: 0px;
}

nav li {
	list-style: none;
	cursor: pointer;
	color: var(--grayish_violet);
	margin: 0px 10px;
	padding: 0px;
}

nav .profileContainer {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	align-items: center;
}

nav .sideMenu .profileContainer {
	margin-left: 24px;
	flex-direction: row-reverse;
	padding: 0px;
	justify-content: flex-end;
	padding-top: 10vh;
	/* border-top: 1px solid #ddd; */
}
nav .sideMenu .profileContainer p {
	color: white;
}
nav .sideMenu .profileContainer img {
	margin-right: 8px;
	margin-left: 0px;
}
nav .profileContainer img {
	height: 50px;
	width: 50px;
	border-radius: 80px;
	margin-left: 24px;
}
nav .profileContainer p {
	font-size: 14px;
}
nav .profileContainer span {
	color: #888;
	font-size: 13px;
}
.login {
	margin-left: auto;
	border: none;
	background-color: white;
	color: var(--cyan);
}
.green_button {
	margin-left: 20px;
	padding: 10px 30px;
	border-radius: 30px;
	border: none;
	color: white;
	background-color: var(--cyan);
}

.landing_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 100px 30px;
	background-image: url("./assets/illustration-working.svg");
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 50%;
	min-height: calc(100vh - 110px);
}

.landing_section .green_button {
	margin: 0px;
	font-size: 15px;
	border-radius: 30px;
	margin: 40px 0px;
}
.landing_section h1 {
	font-size: 64px;
	font-weight: bolder;
	margin: 0px;
	color: var(--very_dark_blue);
	padding: 0px;
}

.landing_section p {
	color: var(--grayish_violet);
	font-size: 17px;
	padding: 0px;
	margin: 0px;
}

.shorter_section {
	background-color: #f0f1f6;
	margin-top: 160px;
	width: 100%;
	padding-bottom: 160px;
}

.shorter_wrapper {
	position: relative;
	padding-top: 90px;
}

.shorter_container {
	position: absolute;
	width: calc(100% - 60px);
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	left: 30px;
	top: -60px;
	padding: 40px;
	border-radius: 8px;
	background-image: url("./assets/bg-boost-desktop.svg");
	background-color: var(--dark_violet);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	flex-direction: row;
	align-items: center;
}

.shorter_container button {
	border-radius: 8px;
	font-size: 15px;
	font-weight: bold;
	padding: 16px 30px;
	min-width: 200px;
}

.shorter_container input {
	height: 60px;
	border: none;
	border-radius: 8px;
	padding: 0px 40px;
	width: calc(100% - 220px);
}

.results {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}

.url_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	padding-left: 20px;
	justify-content: space-between;
	background-color: white;
	margin: 10px 30px;
	border-radius: 8px;
	animation: addNewUrl 0.4s;
	box-shadow: 0px 4px 10px #ddd;
}

.url_container button {
	font-size: 14px;
}
.url_container button:focus {
	color: white !important;
}

.btn {
	color: white;
	padding: 10px 30px;
	border-radius: 8px;
	border: none;
	font-weight: bold;
}

@keyframes addNewUrl {
	0% {
		opacity: 0;
		transform: translateY(100px) scale(0.95);
	}
	70% {
		opacity: 0.5;

		transform: scale(1) translateY(-10px);
	}
}

.get_started {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--dark_violet);
	color: white;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(./assets/bg-boost-desktop.svg);
}

.get_started button {
	font-weight: bold;
	font-size: 16px;
	border-radius: 30px;
}

.get_started h1 {
	font-weight: bolder;
	margin-bottom: 20px;
}

footer {
	background-color: var(--very_dark_violet);
	color: var(--grayish_violet);
}

footer .row {
	padding: 0px;
	margin: 0px;
}

footer .col {
	padding: 20px 100px;
	text-align: center;
}

footer p {
	font-size: 28px;
	margin: 0px;
	padding: 0px;
	font-weight: bolder;
}

footer .icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.icon {
	font-size: 24px;
	margin: 0px 10px;
	cursor: pointer;
}
.icon:active {
	transform: scale(0.95);
	color: white;
}

.icon:hover {
	transform: scale(1.2);
	color: white;
}

nav .sideMenu {
	display: none;
	flex-direction: column;
	background-color: var(--very_dark_blue);
	height: 100vh;
	position: fixed;
	width: 100vw;
	top: 0px;
	justify-content: center;
	left: 0px;
}

.openAnimation {
	animation: openSideMenu 400ms;
}
.closeAnimation {
	animation: closeSideMenu 400ms;
}
@keyframes openSideMenu {
	0% {
		transform: translateX(-100vw);
		opacity: 0;
	}
}

@keyframes closeSideMenu {
	100% {
		transform: translateX(-100vw);
		opacity: 0;
	}
}

.sideMenu ul {
	display: flex;
	flex-direction: column;
	font-size: 24px;
}

.sideMenu li {
	padding: 8px 0px;
}
.sideMenu li:hover {
	color: white;
	transform: scale(1.2) translateX(24px);
}

.sideMenu button {
	margin: 16px;
}

.sideMenu i {
	position: absolute;
	top: 24px;
	right: 24px;
	color: white;
	font-size: 18px;
	transition-duration: 400ms;
	cursor: pointer;
}

.sideMenu i:hover {
	transform: rotate(180deg);
}

nav .fa-bars {
	display: none;
}

@media only screen and (max-width: 600px) {
	.shorter_wrapper {
		padding-top: 80x;
	}

	.shorter_container {
		flex-direction: column;
		top: -90px;
		padding: 16px;
		width: calc(100% - 32px);
		left: 16px;
	}
	.shorter_container button {
		width: 100%;
		margin: 0px;
		margin-top: 20px;
	}
	.shorter_container input {
		width: 100%;
	}

	.url_container {
		flex-direction: column;
		width: calc(100% - 32px);
		margin: 0px auto;
		margin-bottom: 16px;
		padding: 0px;
	}

	.url_container p {
		width: 100%;
		padding: 16px;
		border-bottom: 1px solid #ddd;
	}
	.url_container button {
		width: calc(100% - 32px) !important;
		margin: 16px !important;
	}

	.landing_section {
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.landing_section h1 {
		font-size: 40px;
	}
	.landing_section p {
		font-size: 15px;
	}

	nav .links {
		display: none;
	}
	nav .navBtn {
		display: none;
	}

	nav .fa-bars {
		display: block;
		margin-left: auto;
	}

	nav .sideMenu {
		display: flex;
		z-index: 4;
	}
}

.loadingIndicatorContainer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0px;
	right: 0px;
}

.fullScreen {
	width: 100vw;
	height: 100vh;
}
.clear_all {
	margin-top: 8px;
	margin-left: auto !important;
	color: var(--grayish_violet);
	margin-right: 32px;
	font-size: 14px;
	cursor: pointer;
}
