.loginDialogWrapper {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	z-index: 4;
	animation: dialogWrapper 200ms;
}

.loginDialogContainer {
	width: min(450px, 100vw);
	min-height: 100vh;
	background-color: white;
}

.openAnimation {
	animation: openLoginDialog 400ms;
}
.closeAnimation {
	animation: closeLoadingDialog 400ms;
}

@keyframes openLoginDialog {
	0% {
		transform: translateX(400px);
		opacity: 0;
	}
}

@keyframes closeLoadingDialog {
	100% {
		opacity: 0;
		transform: translateX(400px);
	}
}

@keyframes dialogWrapper {
	0% {
		opacity: 0;
	}
}

.content {
	padding: 32px 24px;
	padding-top: 20vh;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content span {
	color: #888;
	font-weight: lighter;
	margin: 8px 0px;
}

.content i {
	position: absolute;
	top: 24px;
	right: 24px;
	font-size: 20px;
}
.content i:hover {
	transform: rotate(180deg);
}

.content input {
	margin: 8px 0px;
	height: 50px;
	border: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #eee;
}

.content input:focus {
	box-shadow: none;
	border-color: #59c3ee;
}

.googleLogin {
	padding: 16px;
	border-radius: 40px;
	border: none;
	margin-top: auto;
}

.loginBtn {
	margin-top: 24px;
	background-color: #59c3ee;
	padding: 16px;
	border-radius: 40px;
	border: none;
	color: white;
}
